<div class="container-form-comment">
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :commenter, :class=>'input-box' %>
    </p>
    <p>
      <%= f.label :comment %><br>
      <%= f.text_area :body , :class=>'input-box'%>
    </p>
    <p>
      <%= f.submit 'add comment', :class => 'form-control submit' %>
     <!--  <%= f.submit :class=>"submit  "%> -->
    </p>
  <% end %>
</div>